html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( #232B2B, #881414);;
    color: white;
    font-family: Montserrat;
    margin: 0 auto;
}

.header {
    /*background-color: #333;*/
    padding-top: 10px;
    padding-bottom: 0;
}
.header a {
    text-decoration: none;
    color: white;
}
/*rgb(99, 148, 148)*/
.nav {
    background-color: #800303;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0;
}

/*maybe make ds*/
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.menu li {
    flex-grow: 1;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
    font-size: 1.1em;
    line-height: 1.5em;
}

.img {
    max-width: 80%;
    max-height: auto;
    margin: 10px;
    padding: 10px;
    place-items: center;
}

.video {
    margin: 10px;
    padding-top: 0;
    margin-left: 0;
    padding: 0;
}

.src-video {
    width: 100%;
    height: auto;
}

.bg-1 {
    background-image: url('images/main-bg600px.jpg');
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0)
}
.bg-undirsidur {
    background-color: rgb(0, 0, 0)
}
.bg-2 {
    background-color: #333939; 
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    margin-bottom: 0;
    padding: 10px;
}
.main-framleida {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    margin-bottom: 0;
    padding: 10px;
}
.main-heimildaskra {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    margin-bottom: 0;
    padding: 10px;
}
.main-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    margin-bottom: 0;
    padding: 10px;
}
.main-3 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    margin-bottom: 0;
    padding: 10px;
}
.circular--square { 
    border-radius: 50%;
}
.h1-leikarar {
    margin: 0 auto;
    color:rgb(255, 255, 255)
}
.h1-leikarar h1 {
    margin: 0;
    padding: 1em;
    padding-top: .5em;
}
.div-item {
    padding: .5em;
}
.div-item h3, .div-item p {
    padding: 0em;
    margin: .5em;
}

.div-leikarar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:space-evenly;
}

.div-leikarar img {
    max-width: 150px;
    max-height: auto;
}
.div-leikarar p {
    font-size: .8em;
}
.div-leikarar a {
    text-decoration: none;
}
.div-leikarar a:link {
    color:rgb(255, 255, 255)
}
.div-leikarar a:hover {
    text-decoration: underline rgb(255, 255, 255);
    color: rgb(219, 222, 222);
}
.img-center {
    text-align: center;
    margin-right: 1em;
}
.transparent-img {
    float: left
}
.pic {
    position: relative;
    cursor: pointer;
}
.pic::before {
    content: "MYNDASAFN";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: 0.2s;
}
.pic:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(13, 13, 13, 0.4);
    transition: .3s;
}
.pic:hover::after {
    height: 100%;
}
.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}
.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.topbutt {
    display: block;
    color: #1d55cd;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50%;
    padding: 0 .4em;
    text-decoration: none;
    font-size: 1.5em;
    position: fixed;
    top: .4em;
    right: .4em;
}
.col-myndasafn {
    display: grid;
    grid-template-columns: 1fr;
}
.col-1 {
    padding-top: 0;
}
.col-2 {
    display: grid;
}

.image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.myndasafn {
    max-width: 100%;
    max-height: auto;
    margin: 10px;
    padding: 10px;
}

.article {
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}

.article p, .aside p {
    margin: .4em;
}

.aside {
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}
.aside li {
    padding-top: 0.3em;
}
.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    line-height: 1.8;
}
.footernav {
    list-style-type: none;
}
.footernav a {
    color: #f4bf35;
}
.footernav a:visited {
    color: #f5d071;
}
.footer-undirsidur {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    line-height: 1.8;
}
.footernav {
    list-style-type: none;
}
.footernav a {
    color: #f4bf35;
}
.footernav a:visited {
    color: #f5d071;
}
.topbuttimg {
    display: block;
    background-color: rgba(203, 199, 199, 0.134);
    border-radius: 50%;
    padding-top: 0;
    position: fixed;
    top: .4em;
    right: .4em;
}
 @font-face {
    font-family: copperplate-gothic;
    src: url(fonts/copperplate-gothic.ttf);
 }

 @font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
 }
 li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .header h1 {
    font-family: copperplate-gothic;
    font-weight: 100;
    text-align: center;
 }

 .header h1 span {
    border-bottom: 3px solid rgb(106, 77, 79);
    border-top: 3px solid rgb(106, 77, 79);
    padding-left: .4rem;
    padding-right: .4rem;
 }
 .carousel {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.reviews {
    display: flex;
    width: 4000px;
    animation: slide 58s infinite;
}

.review {
    flex: 0 0 400px;
    padding: 20px;
    text-align: center;
}

.stars {
    font-size: 24px;
}

.icon {
   height: 58px;
   width: 58px;
   padding: 0;
}
.tomatoes {
    font-size: 3.5em;
    font-weight: 500;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Franklin Gothic",-apple-system,BlinkMacSystemFont,"PT Sans",Arial,Sans-Serif;
    text-transform: uppercase;
    line-height: 1em;
}
.wrap a {
    color:rgb(75, 126, 245)
}

.wrap-2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    margin-right: 0.5em;
}
.centertext {
    text-align: center;
}
.heimildaskra {
    list-style-type:square;
}
.heimildaskra a {
    color: #f4bf35;
}
.heimildaskra a:visited {
    color: #f5d071;
}

    /*/ media screen /*/

 @media screen and (min-width:37.5em){ /* 600px */
    .main {
        grid-template-columns: 0.7fr 1.5fr;
        grid-template-rows: auto auto;
    }
    .bg-1 {
        background-image: url('images/main-bg760px.jpg');
    }
    .img {
        max-width: 100%;
        max-height: auto;
    }
    .video {
        grid-column: 1 / span 2;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .footer-undirsidur {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .col-framleida1 {
        grid-template-columns: 1fr;
    }
    .col-myndasafn {
        grid-template-columns: 1fr 1fr;
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}
@media screen and (min-width:48em){  /* 760px */
    body {
        line-height: 1.5;
    }
    .topbuttimg {
        top: auto;
        bottom: 1em;
        right: .4em;
    }
    .topbutt {
        padding: 0 .4em;
        font-size: 2em;
        top: auto;
        bottom: 1em;
        right: 1em;
      }
    .carousel {
        width: 800px;
    }
    .main-framleida {
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: auto auto;
    }
    .main {
        grid-template-columns: 0.5fr 1.5fr 0.7fr;
    }
    .col-framleida3 {
        grid-column: 1 / span 2;
    }
    .col-myndasafn {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bg-1 {
        background-image: url('images/main-bg960px.jpg');
    }
    .video {
        grid-column: auto;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .footer-undirsidur {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 60em){  /* 960px */
 
    .main {
        grid-template-columns: 0.5fr 1.5fr 0.7fr;
    }
    .main-framleida {
        grid-template-columns: 1.25fr 1fr;
    }
    .bg-1 {
        background-image: url('images/main-bg1280px.jpg');
    }
    .main h2, .main h3{
        margin-top: .2em;
        margin-bottom: .5em
    }
    .header, .main, .main-2, .main-3, .main-framleida, .main-heimildaskra, .div-leikarar, .footer, .footer-undirsidur {
        max-width: 60em;
        margin: 0 auto;
    }
    .h1-leikarar {
        max-width: 60em;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 80em){ 
    .main {
        grid-template-columns: 0.5fr 1.5fr 0.7fr;
        font-size: 1.15em;
    }
    .main-framleida {
        grid-template-columns: 1.1fr 1fr 0.9fr;
    }
    .main-2 {
        grid-template-columns: .75fr 1fr;
        font-size: 1.15em;
    }
    .main-2 h2, .main-2 h3{
        margin-top: .2em;
        margin-bottom: .5em
    }
    .col-framleida3 {
        grid-column: auto;
    }
    .bg-1 {
        background-image: url('images/main-bg1600px.jpg');
    }
    .carousel {
        width: 1200px;
    }
    .header, .main, .main-2, .main-3, .main-framleida, .main-heimildaskra, .h1-leikarar, .div-leikarar, .footer, .footer-undirsidur {
        max-width: 80em;
    }
    .main h2, .main h3{
        margin: 0.5em;
        margin-left: 0;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
    /*/ Keyframes /*/

    @keyframes slide {
        0%, 100% {
            transform: translateX(0);  
        }
        3% {
            transform: translateX(0);
        }
        7.14% {
            transform: translateX(-400px);
        }
        14.3% {
            transform: translateX(-400px);
        }
        21.4% {
            transform: translateX(-800px);
        }
        28.5% {
            transform: translateX(-800px);
        }
        35.7% {
            transform: translateX(-1200px);
        }
        42.8% {
            transform: translateX(-1200px);
        }
        50% {
            transform: translateX(-1600px);
        }
        57% {
            transform: translateX(-1600px);
        }
        64.2% {
            transform: translateX(-2000px);
        }
        71.4% {
            transform: translateX(-2000px);
        }
        78.5% {
            transform: translateX(-2400px);
        }
        85.6% {
            transform: translateX(-2400px);
        }
        92.8% {
            transform: translateX(-2800px);
        }
        99.9% {
            transform: translateX(-2800px);
        }
    }